body{
    
    padding: 0;
     text-align: center;
}
h1{
    color: red;
}
    div{
        background: yellow;
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
    }